/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	width:100%;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}

.hidden{
	visibility: hidden;
}

.display-none{
	display: none !important;
}

.banner {
	position: relative;
	top:0;
	left: 0;
	z-index: 1;
	background-color: #000000;
	color: white;
	font-family: "Work Sans", sans-serif;
	font-size: 1rem;
	width: 100%;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100lvw !important;
}

.fa-pen-to-square{
	padding-right:  12px;
}
header {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	margin: 50px auto
}

main{
	max-width: 1140px;
	margin:auto;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	margin-bottom: 4px;
	line-height: 1.4;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 2.5rem;


}
nav li a{
	padding: 0 10px;
	font-size: 1.2em;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	color: #000000;
	font-weight: 400;
	  
}

nav li a:hover,nav li a:active, .nav-active {
	color: #000000;
	font-weight: 700;
}

nav li a img{
	width:19px;
	height: 19px;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-right: 2rem;
}

.portofolio-title-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3.8rem;
	margin-top: 5rem;
}

#btnModifier{
	background: none;
	border: none;
	cursor: pointer;
}

#btnModifier i {
	padding-right: 0.625rem;
}



#menu-categories{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: auto;
	gap: 0.625rem;
 }

#menu-categories button{
	font-family: 'Syne', sans-serif;
	font-size: 1rem;
	color:#1D6154;
	text-align: center;
	border: 1px solid #1D6154;
	border-radius: 1.5rem;
	padding: 0.75rem 1.75rem;
	background-color: transparent;
	font-weight: bold ;
	cursor: pointer;
	margin-bottom: 3.125rem;
}

#menu-categories button:hover, .category-button-active{
	background-color: #1D6154 !important;
	color: #fffef8 !important;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer{
	position: fixed;
	bottom: 1rem;
	right: 107px;
	width: 100%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* +-----------------------------------------------------------+
                       login css FILE
+-----------------------------------------------------------+ */

.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login h2{
	margin-top: 150px;
	margin-bottom: 2.5rem;
}

.login_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 30rem;
}

.login_container input, .login_container label{
	width: 100%;

}

.login_container label{
	color: #3d3d3d;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 7px;
}

.login_container input{
	height: 3.25rem;
	background-color: white;
	border: none;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 1.875rem; 
}

.login_container button{
	margin-top: 7px;
	background-color: #1D6154;
	font-family: 'Syne', sans-serif;
	color: #fffef8;
	padding: 10px 39px;
	font-weight: bold;
	font-size: 14px;
	border-radius: 1.5rem;
	border: none;
	margin-bottom: 28px;
}
 
.login_container button:hover{
	background-color: #0e2f28;
}

.login_container a{
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color:#3d3d3d ;
	padding-bottom: 0.5rem;
}

/* +-----------------------------------------------------------+
                       Modal  css FILE
+-----------------------------------------------------------+ */

dialog {
	width: 100%;
	max-width: 39rem;
	padding: 0;
	border: none;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	background-color: white;
	border-radius: 1rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }

dialog::backdrop {
background: rgba(0, 0, 0, 0.3); /* couleur de l'overlay */
backdrop-filter: blur(2px);    /* flou éventuel */
}

#close-modal{
	position: absolute;
	right:36px;
	top:36px;
	background: none;
	border: none;
	font-size: 12px;
	z-index: 99;
}

.modal-title{
	font-family: 'Work Sans';
	font-size: 26px;
	color: black;
	font-weight: 500;
	text-align: center;
	margin-top: 60px;
}

#galery-modal{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	margin: 0 5rem 0 5rem;
	padding: 2.875rem 0 4.2rem 0;
	column-gap: 9px;
	row-gap: 1.8125rem;
	border-bottom: 1px solid #B3B3B3;
}
.thumbnail-container{
	position: relative;
}

.thumbnail{
	width: 4.8rem;
	height: 6.4rem;
}
.fa-trash {
	position: absolute;
	font-size: 8.1px;
	top: 0.2rem;
	right: 0.2rem;
	color: white;
	background-color: rgba(0,0,0,0.8);
	padding: 0.3em;
	border-radius: 0.2em;
	cursor: pointer;
}

#open-secondary{
	margin-top: 38px;
	margin-bottom: 45px;
	background-color:#1D6154;
	color:#fffef8;
	font-family: 'Syne', sans-serif;
	line-height: 1;
	font-weight: bold;
	padding: 10px 49px;
	border: none;
	border-radius: 1rem;

}

/* +-----------------------------------------------------------+
                       Secondary Modal  css FILE
+-----------------------------------------------------------+ */
#secondary-modal{
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 687px;
	width: 100%;
	flex-direction: column;
}

.secondary-btns-container {
	display: flex;
	justify-content: space-between;
	width: 92%;
	margin: 36px;
	position: absolute;
	top: 0;
}

#close-secondary-modal{
	background: none;
	border: none;
	font-size: 12px;
}

#close-main-modal-from-secondary{
	background: none;
	border: none;
	font-size: 12px;
}

.main-container-secondary-modal{
	max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 60px;
	width:100%;
}
.secondary-modal-title{
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	line-height: 1;
}

.container-pictures-to-add{
	background-color: #e8f1f648;
	margin-top: 36px;
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.fa-image{
	font-size: 68px;
	color: #b9c5cc;
	margin-top: 22px;
}

.bouton-ajouter{
	background-color: #Cbd6dc;
	color: #306685;
	font-family: "Work Sans", sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	padding: 10px 33px;
	border-radius: 1.5rem;
	margin-top: 10px;
	border: none;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
	transition: box-shadow 0.1s ease-in-out;
}

.bouton-ajouter:hover{
	transform: scale(0.98);
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
}

.text-secondary-modal{
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	color: #444444;
	margin-top: 7px;
	margin-bottom: 19px;
}

.form-secondary-modal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width:100%;
	padding-top: 30px;
}

.label-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width:100%;
	padding-bottom: 26px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.315);

}

.label{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width:100%;
	margin-bottom: 21px;
}

label span {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 11px;
}

.label-input{
	width: 100%;
	width: 100%;
    padding: 0 !important;
    border-width: 1px;
	height: 51px;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
	border : none;
}

select {
	width: 100%;
	width: 100%;
	width: 100%;
    padding: 0 !important;
    border-width: 1px;
	height: 51px;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
	border : none;
}

#btnValider {
	background-color: #A7A7A7;
	color: white;
	font-family: 'Syne', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 1;
	padding: 15px 92px;
	border-radius: 1.5rem;
	border: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
	transition: box-shadow 0.1s ease-in-out;
	transition: background-color 0.15s ease-in-out;
}
 
#btnValider:hover, #btnValider:active{
	background-color: #1D6154;
	transform: scale(0.98);
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
}

.image-preview-container{
	position: absolute;
	z-index: 10;
	top: 0;
	display: flex;
	align-items: center;
	overflow: hidden;
	max-height: 170px;
	width:100%;
}

.image-preview-background{
	background-color: #E8F1F6;
}

.image-preview {
	height: 193px;
	transform: translateY(-8px);
	margin:auto;
}